#libs
node_modules
/bower_components
/Gemfile.lock
/vendor/bundle

#artifacts
/build
/.tmp
/.sass-cache
/src/public/_RulesauthorRewarp
*.log
/src/public/Thumbs.db

#editor
/.idea
/src/server/node_modules
/vendor/bundle
/.idea
/features/reports
/src/public/styles/core.css
/src/public/styles/themes/*/theme.css
/src/server/config.integration.js
/src/server/config.integration?.js
/src/server/config.integration??.js
/deployment
/reports
/report
/coverage
TempWmicBatchFile.bat

*.swp
*.swo
